{
  "printWidth": 100,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "svelteAllowShorthand": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
